/* Basic jQuery Slider essential styles */
ul.bjqs{
	box-sizing: border-box;
	position:relative; 
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden; 
	display:none;
}
li.bjqs-slide{
	position:absolute; 
	display:none;}
ul.bjqs-controls{
	list-style:none;
	margin:0;
	padding:0;
	z-index:9999;}
ul.bjqs-controls.v-centered li a  {
	position:absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a  {
	margin-top: 480;
	right: 330;
	font-size: 20px;
}
ul.bjqs-controls.v-centered li.bjqs-prev a{
	margin-top: 480;
	left: 330;
	font-size: 20px;
}
ol.bjqs-markers {
	list-style: none; 
	padding: 0; 
	margin: 0; 
	width:100%;
}
ol.bjqs-markers.h-centered {
	text-align: center;
	visibility: hidden;
}
ol.bjqs-markers li {
	display:inline;
}
ol.bjqs-markers li a {
	display:inline-block;
}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}